     <div class="row-fluid">
     	<div class="span16"> 
     		<div class="hero-unit">
     			<h2>Error- {{title}}</h2>
          {{#if subtitle}}<h3>{{subtitle}}</h2>{{/if}}
        </div>
      </div>
    </div>
    <div class="row-fluid">
      {{#if error}}
      <div class="span16">
        {{{ error }}}
      </div>
      {{/if}}
    </div>